// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';

.counters {
    margin-right: 30px;
    text-align: center;
    font-size: 10px;

    strong {
        display: block;
        font-size: 2rem;
    }

    .vote, .answer {
        width: 80px;


    }

    .status {
        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $green;
            border-radius: .3rem;
            color: $green;
        }

        &.answered-accepted {
            background: $green;
            color: white;
        }

    }
}

.media {
    img {
        width: 35px;
    }
}

.vote-controls {
    text-align: center;
    a {
        color: $gray-700;
        &.off, &.off:hover {
            color: $gray-500;
        }

        &.favorite {
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
            &.favorited, &.favorited:hover {
                color: $warning;
            }
        }
        &.vote-accepted {
            color: $green;
            &:hover {
                color: $gray-700;
            }
        }

    }

    span {
        &.votes-count {
            font-size: 1.3rem;
        }
        &.favorites-count {
            font-size: .7rem;
        }
    }

}
.time {

    font-size: 1rem;
}

.author {
    position: relative;
    right: 0;
    bottom: 0;
}

.accept-form {
    display: none;
}

.fa-check {
    cursor: pointer;
}

/*.edit {
    position: relative;
    top: 2px;
}*/

.post {
    padding: 20px 0;
    &:not(:last-child) {
        border-bottom: 1px solid rgba($black, .1);
    }
}
[v-cloak] {
    display: none;
}
